/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

:root {
  --all-background: #1E252B;
  --white-text: #FFFFFF;
  --orange-button: #FF6E30;
  --text-button: #FDF5FF;
  --background-input: #837A93;
  --backgroung-label: #283036;
  --text-color-most: #FFA537;
  --like-color: #FD3B41;
}

* {
  background-color: var(--all-background);
  box-sizing: border-box;
}

/* header */


.header {
  padding: 25px 0;
}

.container {
  width: 1224px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: content-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 34px;
}


.header-navigation {
  font-weight: 500;
  font-size: 16px;
}

.home-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 38px;
}

.homes {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.home,
.categories,
.my-collections,
.blog {
  color: var(--white-text);
}

.buttons {
  display: flex;
  gap: 50px;
}

button {
  border: none;
  border-radius: 5px;
}

.buttones {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 28px;
}

.buttones:hover {
  color: var(--text-button);
  background-color: var(--orange-button);
}

.awesome-tools {
  display: block;
  width: 360px;
}

h1 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.point {
  color: var(--orange-button);
}

.awesome-tools p {
  color: var(--white-text);
  margin-bottom: 60px;
}

.form-text {
  width: 495px;
  height: 64px;
  border: 1px;
  border-radius: 5px;
}

.form-text:hover {
  background-color: var(--backgroung-label);
  box-shadow: color(#837A93);
}

.button-search {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  width: 130px;
  height: 48px;
}

.button-search:hover {
  background-color: var(--orange-button);
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 65px;
}

.flex-form input {
  flex-grow: 1;
  border: none;
  padding: 5px;
  outline: none;
}

.websites {
  margin-top: 110px;
}

.facebook,
.instagram,
.twitter {
  padding: 12px;
}

.foto-illustration {
  float: right;
  margin-left: 500px;
}

.background-foto {
  align-items: center;
  display: flex;
}

.illustration {
  width: 589px;
  height: 892px;
}

.main-text h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  line-height: 2.7;
  margin: 0;
}

.main-text p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.main-text {
  width: 455px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-card h3 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.title-card h4 {
  color: var(--text-color-most);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.text-card p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
  margin-left: 33px;
  margin-right: 33px;
}


.first-card {
  display: flex;
  margin: 0;
  margin-top: 90px;
}

.card:hover {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(40, 48, 54, 0.60);
  background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 20%);
}

.flex-card {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-right: 33px;
}

.flex-card img {
  border-style: none;
  margin-right: 25px;
}

.link-and-likes {
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}

.likes-button {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  width: 130px;
  height: 48px;
  margin-left: 124px;
}

.likes-button:hover {
  background-color: var(--orange-button);
  color: #FFFFFF;
  padding: 9px 35px;
  cursor: pointer;
  border-radius: 5px;
  width: 130px;
  height: 48px;
}

.second-card {
  display: flex;
  margin: 0;
  margin-top: 100px;
}

.flexs-card {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-right: 33px;
  max-width: 392px;
  max-height: 294px;
}

.flexs-card img {
  border-style: none;
  margin-right: 25px;
}

.load-more {
  color: var(--orange-button);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding: 17px 38px;
  cursor: pointer;
  width: 184px;
  height: 64px;
}

.load-more:hover {
  border: 1px solid var(--white-text);
}

.load-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.trusted h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  margin-left: 82px;
  margin-right: 83px;
  margin-bottom: 55px;
  margin-top: 55px;
}

.brands{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}

.foto-brands{
  border-style: none;
  margin-right: 107px;
}

.trusted:hover{
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(40, 48, 54, 0.60);
  background-image: radial-gradient(ellipse at top left, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 20%);
}