/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

:root {
  --all-background: #1E252B;
  --white-text: #FFFFFF;
  --orange-button: #FF6E30;
  --text-button: #FDF5FF;
  --background-input: #837A93;
  --backgroung-label: #283036;
}

* {
  background-color: var(--all-background);
  box-sizing: border-box;
}

/* header */


.header {
  padding: 25px 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-top: 34px;
}


.header-navigation {
  font-weight: 500;
  font-size: 16px;
}

.home-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  margin-top: 38px;
}

.homes {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.home,
.categories,
.my-collections,
.blog {
  color: var(--white-text);
}

.buttons {
  display: flex;
  gap: 50px;
}

button {
  border: none;
  border-radius: 5px;
}

.buttones {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 28px;
}

.buttones:hover {
  color: var(--text-button);
  background-color: var(--orange-button);
}

.awesome-tools {
  display: block;
  width: 360px;
}

h1 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.point {
  color: var(--orange-button);
}

.awesome-tools p {
  color: var(--white-text);
  margin-bottom: 60px;
}

.form-text {
  width: 495px;
  height: 64px;
  border: 1px;
  border-radius: 5px;
}

.form-text:hover {
  background-color: var(--backgroung-label);
  box-shadow: color(#837A93);
}

.button-search {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  width: 130px;
  height: 48px;
}

.button-search:hover {
  background-color: var(--orange-button);
}

.flex-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 65px;
}

.flex-form input {
  flex-grow: 1;
  border: none;
  padding: 5px;
  outline: none;
}

.websites {
  margin-top: 110px;
}

.facebook,
.instagram,
.twitter {
  padding: 12px;
}

.foto-illustration {
  float: right;
  margin-left: 500px;
}

.background-foto {
  align-items: center;
  display: flex;
}

.illustration {
  width: 589px;
  height: 892px;
}

.main-text h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
}

.main-text p{
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.main-text{
  display: block;
  width: 455px;
  justify-content: center;
}
