/* .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  } */

:root {
  --all-background: #1E252B;
  --white-text: #FFFFFF;
  --orange-button: #FF6E30;
  --text-button: #FDF5FF;
  --background-input: #837A93;
  --backgroung-label: #283036;
  --text-color-most: #FFA537;
  --like-color: #FD3B41;
  --text-manager: #FFFDFD;
}

body {
  background-color: var(--all-background);
  box-sizing: border-box;
}

/* header */


header {
  padding-top: 30px;
}

.container {
  width: 1224px;
  margin: 0 auto;
  padding: 0 0px;
  box-sizing: content-box;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-navigation {
  font-weight: 500;
  font-size: 16px;
}

.home-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}

.homes {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.home,
.categories,
.my-collections,
.blog {
  color: var(--white-text);
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 50px;
}

button {
  border: none;
  border-radius: 5px;
}

.buttones {
  color: var(--white-text);
  background-color: var(--all-background);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 28px;
}

.buttones:hover {
  color: var(--text-button);
  background-color: var(--orange-button);
}

.awesome-tools {
  display: block;
  width: 360px;
}

h1 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.point {
  color: var(--orange-button);
}

.awesome-tools p {
  color: var(--white-text);
  margin-bottom: 60px;
  line-height: 30px;
  font-size: 18px;
}



.form-text {
  width: 495px;
  height: 64px;
  border-radius: 5px;
  background-color: var(--backgroung-label);
  color: var(--white-text);
}


.button-search {
  color: var(--white-text);
  background-color: var(--all-background);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  display: inline-block;
  border: 0;
  outline: 0;
  transform: translate(350px,-54px);
}

.button-search:hover {
  background-color: var(--orange-button);
}

.flex-form {
  width: 360px;
  background: var(--all-background);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  border: 0;
  outline: 0;
  padding: 22px 18px;
}

.flex-form input {
  border: none;
  padding-left: 50px;
  outline: none;
}

.flex-form img{
  transform: translate(18px,48px);
}

.websites {
  margin-top: 110px;
}

.facebook,
.instagram,
.twitter {
  padding: 12px;
}

.foto-illustration {
  float: right;
  margin-left: 305px;
}

.background-foto {
  align-items: center;
  display: flex;
}

.illustration {
  width: 589px;
  height: 892px;
}

/* main */

.main-text h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  line-height: 2.7;
  margin: 0;
}

.main-text p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
}

.main-text {
  width: 455px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-card h3 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.title-card h4 {
  color: var(--text-color-most);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.text-card p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.8;
  text-align: left;
  margin-left: 33px;
  margin-right: 33px;
}

.article-cards{
  display: flex;
  margin-top: 90px;
  flex-wrap: wrap;
}

.card {
  width: 50%;
  flex-basis: calc((100% - 50px) /3);
  margin-bottom: 100px;
}

.card:hover {
  border-radius: 15px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 20%);
}

.flex-card {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-right: 33px;
}

.flex-card img {
  border-style: none;
  margin-right: 25px;
}

.link-and-likes {
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 33px;
  display: flex;
  align-items: center;
}

.link-and-button{
  background-color: var(--all-background);
}

.likes-button {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 12px 36px;
  cursor: pointer;
  width: 130px;
  height: 48px;
  margin-left: 124px;
}

.likes-button:hover {
  background-color: var(--orange-button);
  color: #FFFFFF;
  padding: 9px 35px;
  cursor: pointer;
  border-radius: 5px;
  width: 130px;
  height: 48px;
}


.flexs-card {
  display: flex;
  align-items: center;
  margin-left: 33px;
  margin-right: 33px;
  max-width: 392px;
  max-height: 294px;
}

.flexs-card img {
  border-style: none;
  margin-right: 25px;
}

.load-more {
  color: var(--orange-button);
  background-color: var(--all-background);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  padding: 17px 38px;
  cursor: pointer;
}

.load-more:hover {
  border: 1px solid var(--white-text);
}

.load-button {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 200px;
}

.trusted h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  margin-left: 82px;
  margin-right: 83px;
  margin-bottom: 55px;
  margin-top: 55px;
}

.brands {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 56px;
}

.foto-brands {
  border-style: none;
  margin-right: 107px;
}

.trusted {
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(40, 48, 54, 0.60);
  background-image: radial-gradient(ellipse at top left, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 20%);
}

.wow-see {
  margin-top: 200px;
  display: flex;
}

.newcomer-tools {
  display: block;
  width: 50%;
}

.newcomer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 427px;
}

.newcomer h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 50px;
}

.newcomer p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.explore-more {
  color: var(--white-text);
  background-color: var(--all-background);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  padding: 16px 40px;
  cursor: pointer;
  margin-top: 50px;
}

.explore-more:hover {
  background-color: var(--orange-button);
}

.card-wrap-newcomer {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.card-zeplin {
  width: 288px;
  height: 284px;
  margin-bottom: 50px;
}

 .card-zeplin:hover {
  border-radius: 15px;
  outline: 1px solid rgba(255, 255, 255, 0.5);
  background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 20%);
} 

 .links-and-button img {
  width: 25px;
  height: 21px;
} 

.links-and-button{
  background-color: var(--all-background);
}

.links-and-likes {
  display: flex;
  margin-left: 22px;
}

.titles-card {
  display: flex;
}

.titles-card h3 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
}

.titles-card h4 {
  color: var(--text-color-most);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

.titles-card img {
  margin-top: 28px;
  margin-right: 30px;
  margin-left: 22px;
}

.like-button {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  padding: 9px 35px;
  cursor: pointer;
  width: 106px;
  height: 42px;
  margin-left: 35px;
}

.like-button:hover {
  background-color: var(--orange-button);
  color: #FFFFFF;
  padding: 9px 35px;
  cursor: pointer;
  border-radius: 5px;
}

.ronald {
  align-items: center;
  justify-content: space-around;
  margin-left: 150px;
}

.manager {
  padding: 15px 10px;
  width: 265px;
  height: 91px;
  border-radius: 8px;
  backdrop-filter: blur(50px);
  background: rgba(40, 48, 54, 0.2);
  transform: translate(300px, -120px);
}

.manager h2 {
  color: var(--text-manager);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 1.5%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.manager p {
  color: rgba(255, 253, 253, 0.55);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
  padding: 0;
}

.text-wrapper p {
  color: rgba(255, 255, 255, 0.78);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  width: 393px;
  height: 180px;
  transform: translate(600px, -600px);
}

.left {
  transform: translate(-10px, 260px);
}

.right {
  transform: translate(1100px, 260px);
}

.extra {
  transform: translate(550px, -550px);
}

.line {
  transform: translate(500px, -300px);
}

.text-become {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 147px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.text-become h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 48px;
  margin: 0;
}

.text-become p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  width: 427px;
  height: 60px;
  margin-top: 25px;
}

.form-become {
  display: flex;
  justify-content: center;
  margin-top: 100px;

}

.input-wrapper{
  margin-left: 120px;
}

.button-joinus {
  color: var(--white-text);
  background-color: var(--all-background);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  padding: 12px 35px;
  transform: translate(-150px,-1px);
}

.button-joinus:hover {
  color: var(--text-button);
  background-color: var(--orange-button);
}

.form-text-become {
  background-color: var(--backgroung-label);
  color: var(--white-text);
  width: 495px;
  height: 64px;
  border: 1px;
  border-radius: 10px;
  padding: 25px;
}

/* footer */
footer {
  margin-top: 240px;
  border-top: 0.5px solid rgba(255, 255, 255, 0.15);
}

.logo-footer h4 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16;
}

.logo-footer p {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14;
  line-height: 25px;
  width: 260px;
  height: 75px;
}

.contact-us {
  display: flex;
  justify-content: space-between;
}

.contact-us h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}


.tel,
.email,
.adres {
  color: var(--text-manager);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
}

.list-categorie {
  list-style: none;
  display: block;
}

.categorie h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.categorie a {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
}


.list-company {
  list-style: none;
  display: block;
}

.company h2 {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

.company a {
  color: var(--white-text);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  text-decoration: none;
}

.design {
  margin-bottom: 10px;
}

.our {
  margin-top: 10px;
  margin-bottom: 10px;
}